@import '~bootstrap/scss/bootstrap.scss';
@import '~nprogress/nprogress.css';
@import '~fhir-react/build/style.css';

body {
  margin: 0px;
}

h4 {
  color: #007bff;
}

a:hover {
  text-decoration: none;
}
